@import "tailwindcss";

:root {
  --primary: #F0F2C0;
  --secondary: #983251;
  --accent: #E0408B;
  
}
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
body {
primary: var(--primary);
secondary: var(--secondary);
accent: var(--accent);
}


